# Ignore all video and heavy media files
*.mp4
*.mkv
*.avi
*.mov
*.png
*.jpg

# Ignore data or massive zip files
*.zip
*.tar.gz
/data_chunks/
/large_datasets/

# Ignore environment and package folders
node_modules/
venv/
.env
